/*Quienes Somos*/
.page-qs {
    margin: 20px 2%;
    width: auto;
    height: auto;

}

.quienes-somos {
    margin: auto;
    border: 2px solid rgba(33, 240, 14, 0.575);
    border-radius: 10px;
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2;
    grid-template-areas: "title title" "description img";
    margin-bottom: 100px;
}

.title-qs {
    text-align: center;
    grid-area: title;
    margin: 25px 0px;

}

.description-one {
    padding: 0px 30px;
    grid-area: description;
    text-align: justify;
    line-height: 2;
}

.img-qs {
    grid-area: img;
    width: 300px;
    height: 300px;
    text-align: center;
}

.mision {
    display: grid;
    width: 900px;
    margin: auto;
    border: 2px solid rgba(33, 240, 14, 0.575);
    border-radius: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2;
    grid-template-areas: "img title " "img description ";
    margin-bottom: 100px;
}

.title-m {
    grid-area: title;
    padding: 0px 30px;
    

}

.description-two {
    padding: 0px 30px;
    text-align: justify;
    grid-area: description;
    line-height: 2;


}

.img-m {
    grid-area: img;
    width: 350px;
    height: 400px;
    text-align: center;
    

}

.vision {
    display: grid;
    width: 900px;
    margin: auto;
    border: 2px solid rgba(33, 240, 14, 0.575);
    border-radius: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2;
    grid-template-areas: "title img" "description img";
    margin-bottom: 100px;
}

.title-v {
    grid-area: title;
    padding: 0px 30px;
}

.description-three {
    padding: 0px 30px;
    text-align: justify;
    grid-area: description;
    line-height: 2;

}

.img-v {
    grid-area: img;
    width: 300px;
    height: 300px;
    text-align: center;

}

/*Concepto de Agente*/
.page-cda {
    margin: 20px 10% 50px 10%;
    border-radius: 15px;
    border: 2px solid rgb(0, 81, 153);
}

.concepto-de-agente {
    margin: auto;
    width: 800px;
    display: flex;
    gap: 50px;


}

.title-cda {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(0, 81, 153);
    color: #fff;
    margin: auto;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.img2 {
    width: 300px;
    height: 300px;
}

.description {
    text-align: justify;
    line-height: 2;
}

.cda-list {
    list-style: none;
}

.cda-list li {
    position: relative;
    padding-left: 5px;
    /* Espacio para la viñeta */
    margin-bottom: 10px;
    /* Espacio entre elementos de la lista */

}

.cda-list li::before {
    content: '';
    position: absolute;
    top: 50%;
    /* Alinea la viñeta verticalmente */
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url('../IMG/icono_viñeta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    /* Espacio entre la viñeta y el texto */
    margin-left: -25px;
}

/*.cda-list{
    list-style: none;
    list-style-position: outside;
}
.cda-list li {
    display: flex;
    align-items: center;
}
.cda-list li img {
    
    width: 25px;
    height: 25px;
}*/
/*li::before{
    contain: '';
    display: flex;
    width: 25px;
    height: 25px;
    background-image:url('../IMG/icono_viñeta.png');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-right: 25px;
}*/
/*
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}*/
/*Entidades y Pagos*/
.title-eb {
    padding: 50px 0px;
    text-align: center;
}

.bg-g {
    background-color: rgb(0, 81, 153);
}

.contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

.silder-img{
    margin: auto;
    display: flex;
    max-width: 1200px;
    height: auto;
    width: 100%; 
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap: 10px;
    align-items: center;
    position: relative;
    scroll-behavior: smooth;
    transition: transform 5s ease;
}
.silder-img .cont-img{
    width: 33.33%;
    object-fit:contain;
    scroll-snap-align: center;
    flex: 0 0 auto;
    scroll-snap-align: start;
    
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(calc(-33.33% * 5));
    }
    100% {
        transform: translateX(0%);
    }
}


.slider-img {
    animation: scroll 5s linear infinite;
}

  .cont-img {
            margin: 20px;
        }
        
.cont-img img{
    margin: 20px;
    max-width: 250px;
    max-height: 250px;}
    
    
/*.slider-one {
    /*width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;*/
    /*height: 100px;
    overflow: hidden;
    width: 100%;*/
/*}*/

/*.slider-one .silder-track {
    display: flex;
    max-width: 500px;
    height: 300px;
    width: 100%;  
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /*transform: translateX(0);
    justify-content: center;
    align-items: center;
    animation: scroll 40s infinite linear;
    -webkit-animation: scroll 40s infinite linear;
    /*width: calc(200px * 14);*/
    /*width: fit-content;*/
    /*display: inline-flex;
    -moz-animation: slider 1s infinite linear;
    -webkit-animation: slider 1s infinite linear;
    animation: slider 10s infinite linear;
    height: 100%;
    width: auto;*/
/*}*/

/*.slider-one .silder-img {
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    /*width: 200px;
    margin: 0px 5px;*/
    /*background: #CCC;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    line-height: 100px;
    height: 100%;
    flex: 0 0 auto;
    text-align: center;
    width: 150px;*/
/*}*/

/*.slider-one .silder-img img {
    width: 100%;
}*/

/*@keyframes scroll {
    from {
        transform: translateX(0);
        /* Iniciar en la posición inicial */
/*}

    to {
        transform: translateX(calc(-200px * 7));
        /* Desplazamiento total de todas las imágenes */
/*}
}*/
/*@keyframes slider {
    to {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}*/

.silder-two {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.silder-two .silder-track {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s infinite linear;
    -webkit-animation: scroll 40s infinite linear;
    /*width: calc(200px * 14);*/
    width: fit-content;
}

.silder-two .silder-img {
    width: 200px;
    margin: 0px 5px;
}

.silder-two .silder-img img {
    width: 100%;
}

.slider-three {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: none;
    padding-bottom: 50px;
}

.slider-three .silder-track {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s infinite linear;
    -webkit-animation: scroll 40s infinite linear;
    width: fit-content;
}

.slider-three .silder-img {
    width: 200px;
    margin: 0px 5px;
}

.slider-three .silder-img img {
    width: 100%;
}

/*innovación*/
.page-i {
    height: auto;
    width: 900px;
    margin: 50px auto;
}

.title-i {
    text-align: center;
}

.info-i {
    text-align: justify;
    gap: 50px;
    display: flex;
}
.descrip-info{
    padding: 10px;
    line-height: 1.75;
}
.descrip-img{
    display: flex;
    justify-content: center;
}
.img-i{
    width: 600px;
    height: 450px;
}
/*.info-i-img{
    justify-self: space-between;
}*/

@media only screen and (min-width: 320px) and (max-width: 720px){
    .quienes-somos{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .img-qs{
        margin: auto;
    }
    .mision{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .title-m{
        text-align: center;
    }
    .img-m{
        margin: auto;
    }
    .vision{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .title-v{
        text-align: center;
    }
    .img-v{
        margin: auto;
    }

    .page-cda{
        width: 90%;
        margin: 20px auto;
    }
    .concepto-de-agente{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 710px;
        width: 80%;
    }
    .concepto-de-agente div:first-child{
        display: none;
    }
    
    .page-i{
        width: 90%;
        padding: 5px;
    }
    .info-i{
        flex-direction: column;
        width:100%;
        gap: 0px;
    }
    .descrip-img{
        max-width: 710px;
        
    }
    .descrip-img img{
        max-width: 710px;
        width: 100%;
        height: 100%;
    }
}