/*Contacto*/
.contenido-contacto{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 5px 5px 10px 5px  rgb(0, 0,0,0.5);
    border: 1px solid black;
    border-radius: 20px;
    max-width: 1080px;
}
.caja-contacto-contenido{
    padding-left: 7% ;
    width: 60%;
    align-self: center ;
}
.caja-contacto-contenido img{
    margin: auto;
    width: 400px;
    height: auto;
    margin: 10px 0px;
}
.caja-contacto-contenido p {
    line-height: 1.5;
}
.caja-contacto-contenido ul li:not(:last-child){
    margin-bottom: 10px;
}
.caja-contacto-contenido ul li:last-child{
    margin-bottom: 50px;
}
.contenedor-form{   
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(45deg,rgb(26, 166, 57),rgb(0, 81, 153));
    padding: 5% 5px;
    display: flex;
    justify-self: center;

}
.contac-form{
    color: #fff;
    /*border: 2px solid floralwhite;*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /*text-align: center;*/
    padding: 15px 0px;
    padding-left: 70px;
    width: 500px;
    flex-wrap: wrap;
    
}
.contac-form * {
    margin: 5px 0px;
}
.contac-form textarea{
    width: 90%;
}
.contac-form input{
    width: 90%;
}
.caja-form-number{
    display: flex;
    width: 91%;
}
.caja-form-number input{
    width: 100%;
}
/*Ubicanos*/
.contenido-ubicanos{
    background-color:  rgb(0, 81, 153);
    height: auto;
    padding: 10% 0px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.caja-ubica{
    /*margin: auto;*/
    max-width: 750px;
    background: linear-gradient(45deg,rgb(26, 166, 57),rgb(0, 81, 153));
    border: 2px black solid;
    border-radius: 15px;
    text-align: justify;
    padding: 5%;

}
.mapa-ubicacion{
    border-radius: 15px;
    border: 2px solid black;
    width: 600px;
    height: auto; 
}
.contenido-tcn{
    padding: 5%;
    height: 450px;
    margin: auto;
    align-content: center;

}
.contenido-caja{
    width: 80%;
    height: 250px;
    margin: auto;
    border: 2px black solid;
    background: linear-gradient(45deg,rgb(26, 166, 57),rgb(0, 81, 153));
    border-radius: 15px;
    padding: 40px;
    align-content: center;
}
.p-separacion{
    margin: 0 auto;
}
/*Estilos para inputs y botones*/
.contac-form input{
    height: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 720px){
    
    .contenido-contacto{
        max-width: 710px;
        flex-direction: column;
        margin: 80px 10px;
        justify-content: center;
        align-items: center;  
        box-shadow: 2px 2px 2.5px 2px  rgb(0, 0,0,0.5);
        
    }
    .caja-contacto-contenido{
        padding: 0px;
        max-width: 710px;
        width: 80%;
    }
    .caja-contacto-contenido div{
        text-align: center;
    }
    .caja-contacto-contenido div img{
        max-width: 700px;
        width: 250px;
        height: auto;
    }

    .contenedor-form{
        max-width: 710px;
        width: 98.5%;
        margin: 0;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 19px;
        border-bottom-right-radius: 19px;
    }
    .contac-form{
        margin: auto;
        padding: 15px 50px;
        align-items: center;
    }
    .contac-form{
        padding: 15px 50px;
        align-items: center;
    }
    .contac-form label{
        align-self: start;
    }
    .contac-form input .contac-form button{
        align-self: start;
    }
    .contenido-ubicanos{
        flex-direction: column;
        max-width: 710px;
        
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }
    .caja-ubica{

        max-width: 710px;
    }
    .mapa-ubicacion{
        max-width: 710px;
        width: 100%;
        height: 450px;
        max-height: 420px;
    }
    .contenido-tcn{
        max-width: 710px;
        padding: 5px;
        align-content: center;
    }
    .contenido-caja{
        max-width: 710px;
        width: auto;

    }
}