body {
    margin: 0;
    padding: 0;
    background-color: #e5e9ea;
}
.contenedorCuerpo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-login {
    /*width: 70%;*/
    height: 90vh;
    margin: 30px auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 2fr;
}

img {
    max-width: 300px;
    margin: 0px 10px;
    /*border-radius: 5px;*/
}

.login-img {
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 81, 153);
    /*border: 5px solid darkgrey;*/
    border-radius: 3%;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0,0.25);
    
}

.login {
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0,0.25);
    text-align: center;
    height: 500px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center; /* Centra horizontalmente los elementos en la cuadrícula */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "titulo titulo"
        "txtuser txtuser"
        "txtpwd txtpwd"
        "hr hr"
        "btnI btnR"
        "info info";
    /*border-top: 5px solid darkgrey;
    border-right: 5px solid darkgrey;
    border-bottom: 5px solid darkgrey;*/
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: transform 0.3s ease-in-out; /* Agregar transición al desplazamiento */
    padding: 0px 1rem;
}

.title-login {
    grid-area: titulo;
}

.txtuser {
    width: 35%;
    height: 40%;
    grid-area: txtuser;
}

.txtpwd {
    width: 35%;
    height: 40%;
    grid-area: txtpwd;
}

hr {
    grid-area: hr;
    width: 50%;
    height: 1px;
    background-color: darkgrey;
    border: none;
}

.btnI {
    margin-right: 5px;
    width: 200px;
    height: 40px;
    grid-area: btnI;
    justify-self: end;
    background-color: rgb(0, 81, 153);
    border-radius: 15px
}

.btnR {
    margin-left: 5px;
    width: 200px;
    height: 40px;
    grid-area: btnR;
    justify-self: start;
    background-color: rgb(0, 81, 153);
    border-radius: 15px
}

.info {
    grid-area: info;
    color: rgb(0, 81, 153);
    text-decoration: none !important;
}
@media (max-width: 576px) {
    .contenedorCuerpo {
        width: 100%; 
          
    }
    .container-login {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100vh
    }
    form{
        width: 100%;
    }
    .login-img{
        width: 100%;
        border-radius: 0px;
        height: 100px; 
    }
    .login{
        border-radius: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 20px;
    }
    .login input[type="text"],
    .login input[type="password"] {
        width: 200px;
        height: 30px;   
    }
    .login input[type="button"],
    .login button {
        margin-left: auto;
        margin-right: auto;
    }
}
