@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: black !important; /* Fuerza el fondo negro */
    color: white !important; /* Asegura que el texto sea blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	background: #61CE70;
	display: inline-block;
	padding: 15px;
	margin-top: 15px;
	text-decoration: none;
	color: white;
	border: 2px solid #61CE70;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #0e5217;
	color: #fff;
	border: 2px solid #0e5217;
}
.contenido-card ul{
    text-align: left;
    list-style: none;
}

.pagos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
  .pago-img {
            margin: 20px;
        }

.pago-img img{
    margin: 20px;
    max-width: 50px;
    max-height: 100px;}
    
    .pagob-img img{
    margin: 20px;
    max-width: 100px;
    max-height: 100px;}
    
.btnI {
    text-align: center;
    margin-right: 5px;
    width: 100%;
    height: 60px;
    background-color: rgb(32, 220, 1);
    font-weight: bold; /* Hace el texto en negrita */
    border-radius: 30px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: rgb(32, 220, 1);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(24, 170, 0);
    }
    100% {
        transform: scale(1);
        background-color: rgb(32, 220, 1);
    }
}



@media only screen and (min-width:350px) and (max-width:866px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}