@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.fontSign {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fontJost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*.carousel{

}*/

.carousel img {
    width: 100%;
}

.information {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
}

.posicionar {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}

.about {
    display: flex;
    height: 500px;
    width: 100%;
    /*background-color: rgba(0, 81, 153,0.75);*/
    background-image: url('../IMG/fondo_express01.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    align-items: center;
    justify-content: center;
}

    .about div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:  20%;
        padding-right: 20%;
        /*align-items: center;*/
        background-color: rgba(0, 81, 153,0.6);
        height: 100%;
        text-align: justify;
    }
/*.about div p {
    padding: 20px;
}*/

.advantages {
    text-align: center;
}

.formato-caja {
    width: 300px;
}

.TAJ {
    text-align: justify;
}
/*.advantages +div{
    display: flex;
    justify-content: center
}*/
.container-advantages {
    display: flex;
    justify-content: center
}

.services {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    height: auto;
    background-image: url("../IMG/fondo_servicio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    height: auto;
    width: 100%;
    background-color: rgba(0, 81, 153,0.6);
}

    .bg h1 {
        margin: 30px 0;
    }

.container-services div h2 {
    margin: 5px 0;
}

.container-services div p {
    padding: 0px 80px;
    text-align: justify;
    margin-bottom: 50px;
}

.container-services {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

    .container-services div img {
        height: 150px;
        width: 240px;
        border-radius: 15px;
    }

/*.container-services div{
    text-align: justify;
}*/

.section-pay-services {
    margin: 20px 0;
}

.container-section-pay-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    text-align: center;
}

    .container-section-pay-services div img {
        background-color: rgba(0, 81, 153,0.6);
        border-radius: 50%;
    }

.section-pay-services h2 {
    margin-bottom: 30PX;
    text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 720px){

    .information{
        flex-direction: column;
    }
    .container-advantages{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-services{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .container-services div p {
        padding: 0px 50px;

        text-align: justify;
        margin-bottom: 50px;
    }
    .about{
        height: auto;
        padding: auto;
    }
    .about div{
        padding: 50px 25px;
    }
    .container-section-pay-services{
        display: flex;
        flex-wrap: wrap;
    }
    .container-section-pay-services div{
        width: 33.33%;
    }
}
