<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de puntos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/cards/card-1/assets/css/card-1.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css" />

</head>

<body class="bg-info">
    <div class="m-0 p-0">
        <h1 class="text-center mb-4">Control de puntos</h1>
        <div class="container-fluid d-sm-flex flex-column flex-sm-row gap-sm-2 mt-sm-2 gap-2 ">
            <div class="ms-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!--Datos Estadisticos-->
            <div class="d-sm-flex flex-sm-column me-2 w-100 gap-2">
                <div class="d-flex gap-sm-2 flex-column flex-sm-row">
                    <div class="col-12 col-sm-6">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title widget-card-title mb-3">Sales</h5>
                                        <h4 class="card-subtitle text-body-secondary m-0">$6,820</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-end">
                                            <div
                                                class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-truck fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center mt-3">
                                            <span
                                                class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                                            </span>
                                            <div>
                                                <p class="fs-7 mb-0">-9%</p>
                                                <p class="fs-7 mb-0 text-secondary">since last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 pe-sm-2">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title widget-card-title mb-3">Sales</h5>
                                        <h4 class="card-subtitle text-body-secondary m-0">$6,820</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-end">
                                            <div
                                                class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-truck fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center mt-3">
                                            <span
                                                class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                                            </span>
                                            <div>
                                                <p class="fs-7 mb-0">-9%</p>
                                                <p class="fs-7 mb-0 text-secondary">since last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-sm-2">
                    <div class="">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title widget-card-title mb-3">Visitors</h5>
                                        <h4 class="card-subtitle text-body-secondary m-0">3,764</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-end">
                                            <div
                                                class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-person fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center mt-3">
                                            <span
                                                class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                                            </span>
                                            <div>
                                                <p class="fs-7 mb-0">+69%</p>
                                                <p class="fs-7 mb-0 text-secondary">since last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title widget-card-title mb-3">Orders</h5>
                                        <h4 class="card-subtitle text-body-secondary m-0">786</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-end">
                                            <div
                                                class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cart fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center mt-3">
                                            <span
                                                class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                                            </span>
                                            <div>
                                                <p class="fs-7 mb-0">-21%</p>
                                                <p class="fs-7 mb-0 text-secondary">since last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <h3>Historial de todas las operación</h3>
            <div>
                <div class="container-fluid my-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <table id="datatable_CP_operaciones" class="table table-striped">
                                <caption>

                                </caption>
                                <thead>
                                    <tr>
                                        <th class="centered">#</th>
                                        <th class="centered">Tipo Operacion</th>
                                        <th class="centered">Importe</th>
                                        <th class="centered">Comisión</th>
                                        <th class="centered">Fecha Operación</th>
                                        <th class="centered">Detalles</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody_CP_operaciones"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery SIEMPRE primero -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap5.min.js"></script>

    <!-- DataTables y demás librerías que dependan de jQuery -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <script src="/Agente/js/controlPuntos.js"></script>
</body>

</html>