.rango-label {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}